In [1]:
#user define function:

In [2]:
def calc_sum(a,b):
    sum_=a+b
    print(sum_)
    return sum_

calc_sum(12,34)

calc_sum(12,56)

calc_sum(34,89)
calc_sum(34,89)

46
68
123
123

123

def calc_(a,b):
    x=a*b
    print(x)
    

calc_(45,78)

In [3]:
def sum_1(a,c):
    return(a*c)
ser=sum_1(45,89)
print(ser)

sum_1(23,78)

4005

1794

In [4]:
def average_(a,b,c):
    r=a+b+c
    v=r / 3
    print(v)

average_(1,2,3)

2.0

In [5]:
def average_(a,b,c):
    r=(a+b+c)/3
    print(r)

average_(1,2,3) 

average_(34,89,6)

2.0
43.0

In [6]:
def even_odd(num):
    if num%2==0:
        print("no is even")
    else:
        print("no is odd")
    

even_odd(56890)

no is even

In [7]:
print("shoaib",end="$")
print("farooq")

shoaib$farooq

In [8]:
list_1=["delhi","mumbai","pune","himachal"]
list_2=["thor","iron man","capitan america"]

def len_(list_):
    print(len(list_))

def lis_(list_8):
    for el in list_8:
        print(el,end=" ")

lis_(list_2)

lis_(list_1)

thor iron man capitan america delhi mumbai pune himachal

In [9]:
def cal_fact(n):
    fact=1
    for i in range(1,n+1):
        fact=fact*i
    print(fact)

cal_fact(10)

cal_fact(5)

3628800
120

In [10]:
def even_odd(x):
    if x%2==0:
        print("no is even")
    else:
        print("no is odd")

even_odd(6)

even_odd(7)

even_odd(4)

no is even
no is odd
no is even

In [11]:
list_5=[12,3,4,5,6,7]
def check_even(list):
    for el in list:
        if el%2==0:
            print("even",el)
        else:
            print("odd",el)

check_even(list_5)

even 12
odd 3
even 4
odd 5
even 6
odd 7

In [12]:
def multi_table(n):
    for i in range(1,11):
        print(f"{n}*{i}={n*i}")

multi_table(5)        

multi_table(10)

5*1=5
5*2=10
5*3=15
5*4=20
5*5=25
5*6=30
5*7=35
5*8=40
5*9=45
5*10=50
10*1=10
10*2=20
10*3=30
10*4=40
10*5=50
10*6=60
10*7=70
10*8=80
10*9=90
10*10=100

In [13]:
def my_function(x,y,z):
    if z==True:
        return x
    elif z==False:
        return y

r=my_function(12,45,False)
print(r)

45

In [14]:
def is_greater (a,b):
    if a>b:
        return("true")
    else:
        return("false")
is_greater (34,56)

'false'

In [15]:
def fahren_(fahrenheit):
    celsius = (fahrenheit - 32) * 5 / 9
    return celsius

x = fahren_(101)
print(f"{x}celsius")

38.333333333333336celsius

In [16]:
s = int(input ("enter the number "))
r= s*2.57
print(f"{r}cm")

enter the number  78

200.45999999999998cm

In [17]:
def inches_to_cm(inches):
    return inches*2.57

inches_to_cm(23)

59.11

In [18]:
r = int(input("enter the american currency $"))
s = r*83
print(f"rs{s}")

enter the american currency $ 7

rs581

In [19]:
def even_odd(n):
    if n%2==0:
        print("number is even")
    else:
        print("number is odd")

even_odd(1096)

even_odd(1111)

number is even
number is odd

In [20]:
def show(n):
    if (n==0):
        return
    print(n)
    print(n-1)

show(5)

5
4

In [21]:
list_1=[1,2,3,4,5]
for el in list_1:
    if el%2==0:
        print("number is even",el)
    else:
        print("number is odd",el)

number is odd 1
number is even 2
number is odd 3
number is even 4
number is odd 5

In [22]:
for i in range (100,0,-1):
    print(i)

100
99
98
97
96
95
94
93
92
91
90
89
88
87
86
85
84
83
82
81
80
79
78
77
76
75
74
73
72
71
70
69
68
67
66
65
64
63
62
61
60
59
58
57
56
55
54
53
52
51
50
49
48
47
46
45
44
43
42
41
40
39
38
37
36
35
34
33
32
31
30
29
28
27
26
25
24
23
22
21
20
19
18
17
16
15
14
13
12
11
10
9
8
7
6
5
4
3
2
1

In [23]:
#list comprehension:
numbers = [ x for x in range(1,6)]
print(numbers)

[1, 2, 3, 4, 5]

In [24]:
numbers = [x**2   for x in range(5)]
print(numbers)

[0, 1, 4, 9, 16]

In [25]:
letter = "hello"
mylist=[ i   for i in letter]
print(mylist)

['h', 'e', 'l', 'l', 'o']

In [26]:
mylist = [ i  for i in range (1,11)]
print(mylist)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [27]:
mylist_1=[num  for num in range (1,11) if num%2==0]
print(mylist_1)

[2, 4, 6, 8, 10]

In [28]:
mylist_2=[num  for num in range (1,12) if num%2!=0]
print(mylist_2)

[1, 3, 5, 7, 9, 11]

In [29]:
word=["python", "shaoib", "java", "c++"]
word_1=[ i.upper()    for i in word]
print(word_1)

['PYTHON', 'SHAOIB', 'JAVA', 'C++']

In [58]:
zrr = [" even"  if x%2==0 else "odd" for x in range (10)]
print(zrr)

[' even', 'odd', ' even', 'odd', ' even', 'odd', ' even', 'odd', ' even', 'odd']

In [31]:
nested_list = [[1, 2, 3], [4, 5], [6, 7, 8]]
list_1=[]
for sublist in nested_list:
    for num in sublist:
        
        list_1.append(num)
print(list_1)

[1, 2, 3, 4, 5, 6, 7, 8]

In [32]:
square_dict={x:x**2 for x in range (5)}
print(square_dict)

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16}

In [34]:
data = ["john@example.com", "hello", "alice@example.net", "12345", "bob@example.org"]
email=[ item for item in data if "@" in item and "." in item]
print(email)

['john@example.com', 'alice@example.net', 'bob@example.org']

In [38]:
numbers = [1, 2, 3, 2, 4, 5, 3, 6, 1]
converter=list(set(numbers))
print(converter)

[1, 2, 3, 4, 5, 6]

In [40]:
text = "Order #1234 was placed on 5th March, 2025!"
digits = [char for char in text if char.isdigit()]
print(digits)

['1', '2', '3', '4', '5', '2', '0', '2', '5']

In [46]:
string_numbers = ["1", "20", "5", "42"]
convert=[int( num )  for num in string_numbers]
print(convert)

[1, 20, 5, 42]

In [56]:
emails = ["john@example.com", "alice@company.org", "bob@service.net"]
domain = [ email.split("@")[1] for email in emails]  
print(domain)

['example.com', 'company.org', 'service.net']