In [35]:
#Write a program that adds the numbers 10, 20, 30, 40, and 50 together and prints the result.
a=[10,20,30,40,50]
print(sum(a))

150

In [17]:
#Multiply the numbers 4, 6, and 8, and print the result using other variable
a=(4)
b=(6)
c=(8)
print(a*b*c)

192

In [3]:
#Concatenate the strings "Data" and "Science" and print the result.
a="data"
b="science"
print(a+b)

datascience

In [41]:
#Count the number of characters (including spaces) in the string "Python programming".
a="python programming"
print(len(a))

18

In [5]:
#Create a list with the numbers [2, 4, 6, 8, 10] and print the third number in the list.
a=[2,4,6,8,10]
print(a[2])

6

In [7]:
#Given a list [5, 15, 25, 35, 45], find the sum of all elements in the list.
a=[5+15+25+35+45]
print(a)

[125]

In [13]:
#Given the dictionary {"name": "Alice", "age": 25, "city": "New York"}, print the value associated with the key "age".
d={"name":"alice","age":25,"city":"newyork"}
print(d["age"])

25

In [5]:
#Subtract 123 from 456 and print the result using thrid variable
a=(123)
b=(465)
c=(b-a)
print(c)

342

In [19]:
#Print the string "Hello" three times in a row.
a="hello "
print(a*3)

hello hello hello

In [27]:
#Given the string "Programming", print the first 6 characters.
s="proramming"
print(s[:6])

proram

In [29]:
#Given the list [3, 6, 9, 12, 15], print the first two elements.
a=[3,6,9,12,15]
print(a[:2])

[3, 6]

In [23]:
#Create a list with the numbers [50, 20, 30, 10, 40], sort it in ascending order, and print the sorted list.
list=[50,20,10,40]
list.sort()
print(list)

[10, 20, 40, 50]

In [57]:
#Add a new key-value pair "country": "USA" to the dictionary {"name": "Alice", "age": 25} and print the updated dictionary.
x={"name":"alice","age":25}
x["country"]="usa"
print(x)

{'name': 'alice', 'age': 25, 'country': 'usa'}

In [47]:
#Find the average of the numbers 12, 45, 67, and 89.
a=(12,45,67,89)
print(sum(a)/len(a))

53.25

In [43]:
#Given the dictionary {"brand": "Ford", "model": "Mustang", "year": 1964}, print each key and its corresponding value.
dic={"brand":"ford","model":"mustang","year":1964}
dic.items()
print(dic)

{'brand': 'ford', 'model': 'mustang', 'year': 1964}