In [1]:
#1 Create a list of integers from 1 to 10. Print the list and the sum of all its elements.
a=[1,2,3,4,5,6,7,8,9,10]
print(sum(a))

55

In [83]:
#2 Given a list of fruits, slice and print the first 3 and the last 2 fruits from the list.
#fruits = ['apple', 'banana', 'cherry', 'date', 'elderberry', 'fig']
fruits=['apple','banana','date',"elderberry","fig",'cherry']
print(fruits[:3])
print(fruits[4:])

['apple', 'banana', 'date']
['fig', 'cherry']

In [7]:
#3 Change the 2nd element of the list [10, 20, 30, 40] to 200, then append 50 to the end of the list. Print the modified list.
lis=[10,20,30,40]
lis[2]=200
lis.append(50)
print(lis)

[10, 20, 200, 40, 50]

In [25]:
#4 Create a dictionary with three students and their corresponding marks. Print the dictionary and access the marks of one student.
#students = {'John': 85, 'Alice': 90, 'Bob': 78}
students={"john": 85, "alice" : 90, "bob" :78}
print(students["alice"])

90

In [87]:
#5 Create a dictionary and update the marks of one student. Also, add a new student to the dictionary.
#students = {'John': 85, 'Alice': 90, 'Bob': 78}
students={'john' : 85, "alice" : 90, "bob" : 78}
students['john'] = 78
students["shoaib"]=87
print(students)

{'john': 78, 'alice': 90, 'bob': 78, 'shoaib': 87}

In [37]:
#6 Create a tuple with 5 city names and print the second and fourth cities.
#cities = ('New York', 'Paris', 'London', 'Tokyo', 'Berlin')
cities=('newyork' , 'paris', 'london',   'tokyo', 'birlin')
print(cities[2::2])

('london', 'birlin')

In [27]:
#7 Create a set of unique fruits and print it. Then, add a new fruit to the set.
#fruits = {'apple', 'banana', 'cherry'}
fruits={'apple', 'banana','cherry'}
fruits.add("grapes")
print(fruits)

{'cherry', 'banana', 'apple', 'grapes'}

In [43]:
# Create a list with duplicate items. Now print only the unique items from the given list using sets.
lis=[1,3,1,8,9,9,6,8]
print(set(lis))

{1, 3, 6, 8, 9}

In [1]:
#8 Check if the number 10 is greater than 5 and less than 20. Print the result.
number = 10 > 5 and 10<20
print(number)

True

In [89]:
#9 Given a list of numbers, remove the third element and then the last element. Print the modified list.
a= [1,8,9,5,8,7]
a.pop(3)
a.pop()
print(a)

[1, 8, 9, 8]

In [21]:
#10 Concatenate two lists [1, 2, 3] and [4, 5, 6]. Print the result.
a=[1,2,3]
b=[4,5,6]
print(a+b)

[1, 2, 3, 4, 5, 6]

In [23]:
#11 Create a list ['a', 'b', 'c'] and repeat its elements 3 times.
a=['a','b','c']
print(a*3)

['a', 'b', 'c', 'a', 'b', 'c', 'a', 'b', 'c']

In [15]:
#12 Create a dictionary of 4 items and print its length (number of key-value pairs).
#items = {'item1': 10, 'item2': 20, 'item3': 30, 'item4': 40}
items={'item1':10,'item2':20,'item3':30,'item4':40}
print(len(items))

4

In [75]:
#13 Given a dictionary, check if the key 'John' exists in it and print the result.
#students = {'John': 85, 'Alice': 90, 'Bob': 78}
students={'john' : 85, 'alice' : 90 , 'bob' : 78}
print(students['john'])

85

In [79]:
#14 Create a dictionary where the values are lists. Access one of the lists and print its first element.
dic={"marks" : [12,78,56,45], "grades":["a","b","c"]}
print(dic["marks"][0])

12

In [81]:
#15 Create a tuple and try to change one of its elements (show that it raises an error).
a=(1, 6,8,9)
a[1]=8
print(a)

TypeError: 'tuple' object does not support item assignment

In [17]:
#16 Concatenate two tuples (1, 2) and (3, 4) and print the result
tup1=(1,2)
tup2=(3,4)
print(tup1+tup2)

(1, 2, 3, 4)